<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @sign.description %>
</p>
<% if @sign_user == current_user %>
	<%= link_to 'Edit', edit_sign_path(@sign) %> 
<% end %>
<%= link_to 'Back', signs_path %>
